<li id={{id}}>
		<span class="item-name">
			{{burger_name}}
		</span>

			{{#unless devoured}}
				<!-- <button class="change-devoured btn-primary" data-id="{{id}}">x -->
				<!-- </button> -->
				<!-- <span class="eat-item" data-id="{{id}}">-></span> -->
				<i class="change-item  eat fas fa-utensils" data-id="{{id}}"></i>


			{{/unless}}
				{{#if devoured}}
					<!-- <button class="delete btn btn-sm btn-danger" data-id="{{id}}">x</button> -->
					<i class="change-item delete fas fa-times" data-id="{{id}}"></i>

				{{/if}}
</li>

{{!--  <tr id={{id}}>
 	<td>
		{{burger_name}}
	</td>
	{{#if devoured}}
		<td><button class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
			Devour It
		</button></td>
	{{else}}
		<td><button class="delete btn btn-danger" data-id="{{id}}">Delete
		</button></td>
	{{/if}}
</tr>
 --}}
